<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 引入配置文件 -->
    <properties resource="mybatisGeneratorInit.properties"/>

    <!-- 一个数据库一个context -->
    <!--defaultModelType="flat" 大数据字段，不分表 -->
    <context id="MysqlTables" targetRuntime="MyBatis3" defaultModelType="flat">


        <property name="autoDelimitKeywords" value="true" />
        <property name="beginningDelimiter" value="`" />
        <property name="endingDelimiter" value="`" />
        <property name="javaFileEncoding" value="utf-8" />
        <!--false 的话是覆盖xml 文件 ,默认的是 true 就是追加啦-->
        <property name="mergeable" value="false"></property>
        <!--<plugin type="com.xxg.mybatis.plugins.MySQLLimitPlugin"></plugin>-->
        <plugin type="com.itfsw.mybatis.generator.plugins.LimitPlugin"/>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
        <plugin type="com.itfsw.mybatis.generator.plugins.BatchInsertPlugin"/>

        <!-- 注释 -->
        <commentGenerator>
            <!-- 定义是否生成原生注释，我们这里自定义了，所以选择false -->
            <property name="suppressAllComments" value="false"/>
            <!-- This property is used to specify whether MBG will include the generation timestamp in the generated comments -->
            <property name="suppressDate" value="true"/>
        </commentGenerator>
        <!-- jdbc连接 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/bilibili_business_up" userId="root" password="12345" />

        <!-- 类型转换 -->
        <javaTypeResolver>
            <!-- 是否使用bigDecimal， false可自动转化以下类型（Long, Integer, Short, etc.） -->
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 生成实体类地址 -->
        <javaModelGenerator targetPackage="com.yanjinbin.model" targetProject="${project}" >
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- 生成mapxml文件 -->
        <sqlMapGenerator targetPackage="mappers" targetProject="${resources}" >
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>

        <!-- 生成mapxml对应client，也就是接口dao -->
        <javaClientGenerator targetPackage="com.yanjinbin.dao" targetProject="${project}" type="XMLMAPPER" >
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>



        <!--默认都是 true-->


        <table tableName="av_daily_charge"
               enableInsert="true"
               enableUpdateByExample="true" enableUpdateByPrimaryKey="true"
               domainObjectName="AvDailyChargeEntity"
               enableDeleteByPrimaryKey="false"
               enableDeleteByExample="false">
            <!--//也就是 A_B 编程 AB形式-->

            <property name="useActualColumnNames" value="false" />
            <generatedKey column="id" sqlStatement="Mysql" identity="true" />
            <columnOverride column="is_deleted" property="deleted" javaType="boolean" />
            <columnOverride column="is_original" property="original" javaType="Integer" />
            <columnOverride column="id" property="avDailyChargeId" />
        </table>

    </context>

</generatorConfiguration>
