<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanjinbin.dao.ArchiveVideoEntityMapper">
  <resultMap id="BaseResultMap" type="com.yanjinbin.model.ArchiveVideoEntity">
    <!--
    @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="ArchiveVideoId" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="eptitle" jdbcType="VARCHAR" property="eptitle" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="src_type" jdbcType="VARCHAR" property="srcType" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="filesize" jdbcType="INTEGER" property="filesize" />
    <result column="resolutions" jdbcType="VARCHAR" property="resolutions" />
    <result column="index_order" jdbcType="INTEGER" property="indexOrder" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="playurl" jdbcType="VARCHAR" property="playurl" />
    <result column="attribute" jdbcType="INTEGER" property="attribute" />
    <result column="failinfo" jdbcType="TINYINT" property="failinfo" />
    <result column="xcode_state" jdbcType="TINYINT" property="xcodeState" />
    <result column="weblink" jdbcType="VARCHAR" property="weblink" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    id, aid, eptitle, description, filename, src_type, cid, duration, filesize, resolutions, 
    index_order, ctime, mtime, `status`, playurl, `attribute`, failinfo, xcode_state, 
    weblink
  </sql>
  <select id="selectByExample" parameterType="com.yanjinbin.model.ArchiveVideoEntityExample" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from archive_video
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="offset != null">
      <if test="limit != null">
        limit ${limit}, ${offset}
      </if>
      <if test="offset == null">
        limit ${offset}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from archive_video
    where id = #{ArchiveVideoId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.yanjinbin.model.ArchiveVideoEntity">
    <!--
    @mbg.generated
    -->
    <selectKey keyProperty="ArchiveVideoId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into archive_video (aid, eptitle, description, 
      filename, src_type, cid, 
      duration, filesize, resolutions, 
      index_order, ctime, mtime, 
      `status`, playurl, `attribute`, 
      failinfo, xcode_state, weblink
      )
    values (#{aid,jdbcType=INTEGER}, #{eptitle,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{filename,jdbcType=VARCHAR}, #{srcType,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, 
      #{duration,jdbcType=INTEGER}, #{filesize,jdbcType=INTEGER}, #{resolutions,jdbcType=VARCHAR}, 
      #{indexOrder,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{playurl,jdbcType=VARCHAR}, #{attribute,jdbcType=INTEGER}, 
      #{failinfo,jdbcType=TINYINT}, #{xcodeState,jdbcType=TINYINT}, #{weblink,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yanjinbin.model.ArchiveVideoEntity">
    <!--
    @mbg.generated
    -->
    <selectKey keyProperty="ArchiveVideoId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into archive_video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="eptitle != null">
        eptitle,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="srcType != null">
        src_type,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="filesize != null">
        filesize,
      </if>
      <if test="resolutions != null">
        resolutions,
      </if>
      <if test="indexOrder != null">
        index_order,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="playurl != null">
        playurl,
      </if>
      <if test="attribute != null">
        `attribute`,
      </if>
      <if test="failinfo != null">
        failinfo,
      </if>
      <if test="xcodeState != null">
        xcode_state,
      </if>
      <if test="weblink != null">
        weblink,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="eptitle != null">
        #{eptitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="srcType != null">
        #{srcType,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="filesize != null">
        #{filesize,jdbcType=INTEGER},
      </if>
      <if test="resolutions != null">
        #{resolutions,jdbcType=VARCHAR},
      </if>
      <if test="indexOrder != null">
        #{indexOrder,jdbcType=INTEGER},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="playurl != null">
        #{playurl,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=INTEGER},
      </if>
      <if test="failinfo != null">
        #{failinfo,jdbcType=TINYINT},
      </if>
      <if test="xcodeState != null">
        #{xcodeState,jdbcType=TINYINT},
      </if>
      <if test="weblink != null">
        #{weblink,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yanjinbin.model.ArchiveVideoEntityExample" resultType="java.lang.Long">
    <!--
    @mbg.generated
    -->
    select count(*) from archive_video
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    @mbg.generated
    -->
    update archive_video
    <set>
      <if test="record.ArchiveVideoId != null">
        id = #{record.ArchiveVideoId,jdbcType=INTEGER},
      </if>
      <if test="record.aid != null">
        aid = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.eptitle != null">
        eptitle = #{record.eptitle,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.filename != null">
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.srcType != null">
        src_type = #{record.srcType,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.duration != null">
        duration = #{record.duration,jdbcType=INTEGER},
      </if>
      <if test="record.filesize != null">
        filesize = #{record.filesize,jdbcType=INTEGER},
      </if>
      <if test="record.resolutions != null">
        resolutions = #{record.resolutions,jdbcType=VARCHAR},
      </if>
      <if test="record.indexOrder != null">
        index_order = #{record.indexOrder,jdbcType=INTEGER},
      </if>
      <if test="record.ctime != null">
        ctime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mtime != null">
        mtime = #{record.mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.playurl != null">
        playurl = #{record.playurl,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute != null">
        `attribute` = #{record.attribute,jdbcType=INTEGER},
      </if>
      <if test="record.failinfo != null">
        failinfo = #{record.failinfo,jdbcType=TINYINT},
      </if>
      <if test="record.xcodeState != null">
        xcode_state = #{record.xcodeState,jdbcType=TINYINT},
      </if>
      <if test="record.weblink != null">
        weblink = #{record.weblink,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    @mbg.generated
    -->
    update archive_video
    set id = #{record.ArchiveVideoId,jdbcType=INTEGER},
      aid = #{record.aid,jdbcType=INTEGER},
      eptitle = #{record.eptitle,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      filename = #{record.filename,jdbcType=VARCHAR},
      src_type = #{record.srcType,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=INTEGER},
      duration = #{record.duration,jdbcType=INTEGER},
      filesize = #{record.filesize,jdbcType=INTEGER},
      resolutions = #{record.resolutions,jdbcType=VARCHAR},
      index_order = #{record.indexOrder,jdbcType=INTEGER},
      ctime = #{record.ctime,jdbcType=TIMESTAMP},
      mtime = #{record.mtime,jdbcType=TIMESTAMP},
      `status` = #{record.status,jdbcType=SMALLINT},
      playurl = #{record.playurl,jdbcType=VARCHAR},
      `attribute` = #{record.attribute,jdbcType=INTEGER},
      failinfo = #{record.failinfo,jdbcType=TINYINT},
      xcode_state = #{record.xcodeState,jdbcType=TINYINT},
      weblink = #{record.weblink,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yanjinbin.model.ArchiveVideoEntity">
    <!--
    @mbg.generated
    -->
    update archive_video
    <set>
      <if test="aid != null">
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="eptitle != null">
        eptitle = #{eptitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="srcType != null">
        src_type = #{srcType,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="filesize != null">
        filesize = #{filesize,jdbcType=INTEGER},
      </if>
      <if test="resolutions != null">
        resolutions = #{resolutions,jdbcType=VARCHAR},
      </if>
      <if test="indexOrder != null">
        index_order = #{indexOrder,jdbcType=INTEGER},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=SMALLINT},
      </if>
      <if test="playurl != null">
        playurl = #{playurl,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        `attribute` = #{attribute,jdbcType=INTEGER},
      </if>
      <if test="failinfo != null">
        failinfo = #{failinfo,jdbcType=TINYINT},
      </if>
      <if test="xcodeState != null">
        xcode_state = #{xcodeState,jdbcType=TINYINT},
      </if>
      <if test="weblink != null">
        weblink = #{weblink,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{ArchiveVideoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yanjinbin.model.ArchiveVideoEntity">
    <!--
    @mbg.generated
    -->
    update archive_video
    set aid = #{aid,jdbcType=INTEGER},
      eptitle = #{eptitle,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      src_type = #{srcType,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      duration = #{duration,jdbcType=INTEGER},
      filesize = #{filesize,jdbcType=INTEGER},
      resolutions = #{resolutions,jdbcType=VARCHAR},
      index_order = #{indexOrder,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=SMALLINT},
      playurl = #{playurl,jdbcType=VARCHAR},
      `attribute` = #{attribute,jdbcType=INTEGER},
      failinfo = #{failinfo,jdbcType=TINYINT},
      xcode_state = #{xcodeState,jdbcType=TINYINT},
      weblink = #{weblink,jdbcType=VARCHAR}
    where id = #{ArchiveVideoId,jdbcType=INTEGER}
  </update>
</mapper>